---
---

@import "minimal-mistakes/skins/dirt"; // 
@import "minimal-mistakes"; 

/* --- gallery grid --- */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}
.gallery-item img {
  width: 200%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  display: block;
}
.gallery-item:hover img { opacity: .9; }
